 footer .logo {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 40px;
  padding: 11px 0px;
  border-bottom: 1px solid #4d4d4d;
}

footer .wrapper {
  display: flex;
  color: #9b9898;
  margin-top: 20px;
}

footer .left,
footer .right {
  flex: 1;
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;

}

footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
  margin-top: 20px;
}

footer .business_nfo .nfo {
  padding-left: 40px;
  margin-top: 20px;
}

span {
  color: rgb(243, 100, 44);
}