* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 12px;
  font-family: "Roboto Cn", sans-serif;
}

li>a {
  text-decoration: none;
  color: #eee;
}


a:hover,
a:active,
a:focus {
  color: rgb(243, 100, 44);
  text-decoration: none;
}


header {
  width: 100%;
  height: 8vh;
  background: rgb(63, 29, 90)center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container {
  width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  margin-left: 15px;
  width: 100px;
  float: right;
  margin-top: 30px;
  height: 45px;
  font-size: 1.8rem;
  text-align: right;
  font-weight: 250;

}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  padding-top: 1.4rem;
  margin-right: 3.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.5rem;

}

.forum {
  font-family: pacifico;
  color: rgb(63, 29, 90);

  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 4rem;
  font-weight: 200;
  transform: translateX(-150rem);
  animation: slideIn .7s forwards;
}

.forum span {
  color: rgb(243, 100, 44);
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .8s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0.4s;
}

nav ul li:nth-child(2) {
  animation-delay: 0.9s;
}

nav ul li:nth-child(3) {
  animation-delay: 1.4s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.9s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 4px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(243, 100, 44);
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 5px;
  transform-origin: left;
}

nav ul li a::after {
  bottom: 5px;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, .95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 800ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}